<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

    <br />

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>

            <p class="py-6">
              Everything you want to know about me - a developer.
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img
            class="w-full rounded-lg"
            src="https://www.senecacollege.ca/content/dam/projects/seneca/news-and-media/gallery/2019-08-27-all-employee-meeting/aem-4.jpg"
            alt="profile"
          />
        </div>
        <div class="prose">
          <p>
            My name is Prarthan Christian and I am studing in Seneca College and this is third semester with Seneca.
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut velit
            quibusdam voluptatum, eaque expedita dicta aperiam tenetur deleniti
            provident soluta incidunt. Perferendis, molestiae qui! Cum itaque
            voluptatibus laborum accusamus delectus, quibusdam explicabo
            blanditiis deserunt ipsam dignissimos repellendus. Placeat fugit
            fugiat, vel aliquid exercitationem ratione, quod in cupiditate vitae
            non, ea excepturi perspiciatis voluptas maxime debitis esse. Saepe
            provident id sed? Consequatur vero alias voluptas, omnis quis
            repellendus rerum blanditiis optio pariatur nam vitae excepturi
            doloribus maiores perferendis? Natus dolorum necessitatibus iure
            expedita atque vero? Recusandae facere quas illum hic perspiciatis
            eos, accusantium impedit deleniti itaque eligendi corrupti assumenda
            voluptates molestias.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>